---
import Layout from '../layouts/Layout.astro';
// import Directives from  '../components/vue/Directives.vue';
import TODO from '../components/vue/TODO.vue';
import FAQ from '../components/vue/FAQ.vue'
import Restaurante from '../components/vue/Restaurante.vue';
---

<Layout title="Welcome to Astro." >
<!-- 
    <div class="w-full h-10 bg-slate-500 text-black font-semibold">HELLO WORLD</div>

	<Directives  client:load /> -->
<!-- 
    <TODO client:load /> -->

    <!-- <FAQ client:load/> -->


    <Restaurante client:load />
</Layout>


